<h5>Exemplos de Pipes</h5>

<p>Titulo: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency:'BRL' }}</p>
<p>DataLancamento: {{ livro.dataLancamento | date }}</p>
<p>URL: {{ livro.url }}</p>

<br>
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro">

<br><br>
<input type="text" #novoValor>
<button (click)="onAddCurso(novoValor.value)">Add Curso</button>

<h5>Pipe Puro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArray: filtro">
        {{ liv }}
    </li>
</ul>


<h5>Pipe Impuro</h5>

<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro: filtro">
        {{ liv }}
    </li>
</ul>

<h5>Maneira Correta de Usar Filtro Nos Projetos</h5>

<ul>
    <li *ngFor="let liv of obterCursos()">
        {{ liv }}
    </li>
</ul>